.body-back{
	background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.about-back{
background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.card-back{
		
	background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.contact-back{
  background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.team-back{
  background: #c0c0c0;
}


.card-images{

	width: 100%;
	height: 15vw;
	object-fit: cover;	

}

.test{

	font-size: 50px;
}

.margin{

	margin-right: 50px; 
}

.borders{

	border: 2px solid black;
}




.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.center {
  margin: auto;
  width: 50%;
  
  padding: 10px;
}

.f1{

font-family: 'Lobster', cursive;
}

.f2{

  font-family: 'Roboto', sans-serif;

}

.f3{

  font-family: 'Open Sans', sans-serif;
}

.f4{

  font-family: 'Ubuntu', sans-serif;
}

.f5{
  font-family: 'Basic', sans-serif;
}

.f6{

  font-family: 'Dancing Script', cursive;
}

.f7{
  font-family: 'Great Vibes', cursive;
}

.f8{

  font-family: 'Cabin', sans-serif;
}
.f9{

  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 75px;
  padding: 5px;
}

.aboutcontents{

  padding: 30px;
  margin-left: -15px;
  margin-right: -15px;
  font-family: 'Roboto', sans-serif;

}

.quote{

  font-size: 50px;
  padding: 10px;
  font-family: 'Tangerine', cursive;
  
}

.quo{

      font-family: 'Basic', sans-serif;
      font-size: 20px;
}

.abouttext{
  padding: 10px;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
}














